.login-container {
    background-color: #f0f2f5;
    min-height      : 100vh;

    .content-left {
        .brand {
            text-transform: uppercase;
            font-size     : 30px;
            color         : #1877f2;
            font-weight   : bold;
        }

        .details {
            font-size: 20px;
        }
    }

    .content-right {
        .brand {
            text-transform: uppercase;
            font-size     : 20px;
            color         : #1877f2;
            text-align    : center;
            font-weight   : bold;
        }

        background-color: #fff;
        border          : none;
        border-radius   : 8px;
        box-shadow      : 0 2px 4px rgba(0, 0, 0, .1),
        0 8px 16px rgba(0, 0, 0, .1);

        .forgot-password {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}